body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

body {
  background: url(../images/image15.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default {
    background-color: #EBD6FF !important;
    border-color: #EBD6FF !important;
}

.page-header {
    border-bottom: 1px solid #E0F5FF !important;
}
